@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
/* Import de la font Syne depuis Google fonts et on l'applique à tous les éléments de la page */

body * {
    font-family: 'Syne', sans-serif;
}

p {
    color: black;
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

#menu-principal {
    display: inline-flex;
    align-items: center;
    gap: 60px;
    height: 100%;
}

ul {
    list-style-type: none;
}

#menu-item-275 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu-item-275 a {
    color: #FFFFFF;
}

#menu-item-275.nav-item {
    background-color: #DC9F96;
    width: 238px;
    height: 80px;

}

#menu-item-275.nav-item:hover {
    background-color: #C02E44;
}

#menu-principal a {
    font-size: 16px;
    display: block;
}

#menu-item-276:hover {
    transform:scale(1.2);
}

#menu-principal > li:nth-child(3):hover {
    transform:scale(1.2); 
}

#menu-item-276 {
    order:1;
}

#menu-item-275 {
    order:3;
}

#menu-principal > li:nth-child(3) {
    order:2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 80px;
}

#ch {
    display: none;
}

#lab {
    width: 30px;
    height: 30px;
    background: linear-gradient(#000 0%,#000 20%,transparent 21%,transparent 40%,#000 41%,#000 60%,transparent 61%,transparent 80%,#000 81%,#000 100%);
    margin: 25px;
    display: none;
}

/*Accueil*/

.entry-content > div:nth-child(2) {
    background-position: center;
}

/* Nous contacter*/

div.wp-block-group:nth-child(3) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wpcf7-f120-p13-o1 {
    max-width: 383px;
} 

.wp-block-button:hover {
   background-color: #C02E44;
   border-radius: 5px;
}

.contact-submit {
    text-align: center;
} 

.wpcf7-spinner {
    display: none !important;
    visibility: hidden !important;
}

.fleur {
    position: absolute;
    z-index: 1;
    left: -23%;
    bottom: -1%;
}

.formulaire-contact > p:nth-child(3) > label:nth-child(1) > span:nth-child(2) {
    position: relative;
    z-index: 2;
}

/*Commander*/

.elementor-element-9396936 {
    padding-top: 69px;
    padding-bottom: 44px;
}

.aromes {
    display:flex;
    flex-direction: row;  
    gap:28px;
}

.formulaire-commande > h3:nth-child(1) {
    color: white;
}
.quantite input[type="text"] {
    width: 39px;
    height: 56px;     
}

.quantite p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.demi-colonne-gauche {
    float:left;
}

.demi-colonne-droite {
    float:right;
}

.demi-colonne-gauche label, .demi-colonne-droite label {
    color: #FFFFFF;
}

.envoyer-commande {
    text-align: center;
}

.trait-vertical {
    border-left:1px solid white;
    height: 315px; 
    margin-top: 55px;
    margin-left: 50%;
    margin-bottom: 44px;
}

.demi-colonne-gauche > h3:nth-child(1) {
    color: #FFFFFF;
}

.demi-colonne-droite > h3:nth-child(1) {
    color: #FFFFFF;
}



/*Mode responsive*/

@media screen and (max-width:920px) {
    #lab {
        display: block;
    }
    
    #menu-principal {
        display: block;
        position: absolute;
        top:2%;
        transform:translate(-1000px,0);
    }

    #menu-principal .nav-item {
        width: auto;
        height: auto;
    }

    #menu-item-275 {
        justify-content: start;
    }

    #menu-item-275 a {
        color: black;
    }

    #menu-item-275.nav-item {
        background:none;
    }

    #menu-item-275.nav-item:hover {
        background: none;
        transform:scale(1.2);
    }

    #menu-principal > li:nth-child(3) {
        align-items: start;
    }

    #ch:checked+#menu-principal {
        transform:translate(0,0);
    }
}

@media screen and (max-width:820px) {
    .entry-content > div:nth-child(2) {
        background-image: none;
    }
}

@media screen and (max-width:820px) {
    h1.wp-block-heading:nth-child(2),h1.wp-block-heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .aromes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:1200px) {
    .formulaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
}

@media screen and (max-width:1200px) {
    .trait-vertical {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    hr {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .wp-image-22, .fleur {
        display: none;
    }
}
